 {% extends "../layouts/default.twig" %}

{% block intro %}
	<div class="container">
		<h1 class="h1 text-center">Algorithmes</h1>
		<hr size="10">
	</div>
{% endblock %}
 
 {% block css %}
	 <link rel="stylesheet" href="bower_components/treant-js/Treant.css" type="text/css"/>
 {% endblock %}
 
{% block content %}
	<div class="row">
		<div id="tree-simple" style="width:auto; height: auto; margin: auto;"></div>	
	</div>
{% endblock %}
 
 {% block js %}
	{#<script src="bower_components/d3/d3.min.js"></script>#}
	<script src="bower_components/treant-js/vendor/raphael.js"></script>
	<script src="bower_components/treant-js/Treant.js"></script>
	<script type="module" src="js/script/algorithmes.js"></script>
	<script>
		/*			data = $.getJSON( "/data/algorithmes.json");
					alert(data.text);*/
		simple_chart_config = {
			chart: {
				container: "#tree-simple"
			},

			nodeStructure: {
				"text": {
					"name": "Machine learning"
				},
				"children": [
					{
						"text": {
							"name": "Apprentissage supervisé"
						},
						"children":[
							{
								"text": {
									"name": "Classification"
								},
								"children": [
									{
										"text": {
											"name":"Naive Bayes"
										},

									},
									{
										"text": {
											"name":"Régression logistique"
										},

									},
									{
										"text": {
											"name":"Arbre de décision"
										},

									},
									{
										"text": {
											"name":"SVM"
										},

									},
									{
										"text": {
											"name":"K-NN"
										},

									},
									{
										"text": {
											"name":"Naive Bayes"
										},

									},
								]
							},
							{
								"text": {
									"name" : "Régression"
								},
								"children": [
									{
										"text":{
											"name": "Régression polynomiale"
										}
									},
									{
										"text":{
											"name": "Régression linéaire"
										}
									},
									{
										"text":{
											"name": "Ridge/LASSO régression"
										}
									},
								]
							},
						]
					},
					{
						"text": {
							"name": "Apprentissage non-supervisé"
						}
					}
				]
			}
		};
		var chart = new Treant(simple_chart_config);
	</script>
 {% endblock %}
