{% extends "../layouts/default.twig" %}
{% block css %}
	<link rel="stylesheet" href="styles/custom/index.css">
{% endblock %}

{% block intro %}
	<div class="container">
		<h1 class="h1 text-center">Qui suis-je ?</h1>
		<hr size="10">
	</div>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<img class="img-circle img-responsive" src="helium/img/team/team-08.jpg" alt="Mohamed Bouchiba"
				 style="width: auto; margin: auto; float: left;">
			<p class="fa-paragraph">
				Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
				impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un
				imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de
				texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique,
				sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de
				feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des
				applications de mise en page de texte, comme Aldus PageMaker. Le Lorem Ipsum est simplement du faux
				texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte
				standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des
				morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq
				siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.
				Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du
				Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme
				Aldus PageMaker.
				Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
				impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un
				imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de
				texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique,
				sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de
				feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des
				applications de mise en page de texte, comme Aldus PageMaker. Le Lorem Ipsum est simplement du faux
				texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte
				standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des
				morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq
				siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.
				Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du
				Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme
				Aldus PageMaker.</p>
		</div>
	</div>	
	<section id="portfolio" class="section">
		<div class="container">
			<div class="sub-title">
				<h1 class="h1 text-center">Mes projets personel</h1>
			</div>
			<div class="row">
				<div class="col-12">

					<div class="controls text-center wow fadeInUpQuick" data-wow-delay=".6s">
						<a class="filter btn btn-common" data-filter="all">
							Tous
						</a>
						<a class="filter btn btn-common" data-filter=".branding">
							Développement Web
						</a>
						<a class="filter btn btn-common" data-filter=".marketing">
							Développement Mobile
						</a>
						<a class="filter btn btn-common active" data-filter=".planning">
							Objets Connectés
						</a>
						<a class="filter btn btn-common" data-filter=".research">
							Data-Sciences 
						</a>
					</div>

				</div>

				<div id="portfolio" class="row wow fadeInUpQuick" data-wow-delay="0.8s">
					<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing planning" data-bound="" style="display: inline-block;">
						<div class="portfolio-item">
							<div class="portfolio-img">
								<img src="helium/img/portfolio/img1.jpg" alt="">
							</div>
							<div class="portfoli-content">
								<div class="sup-desc-wrap">
									<div class="sup-desc-inner">
										<div class="sup-link">
											<a class="left-link" href="#"><i class="fa fa-link"></i></a>
											<a class="right-link" href="#"><i class="fa fa-heart"></i></a>
										</div>
										<div class="sup-meta-wrap">
											<a class="sup-title" href="#">
												<h4>TITLE HERE</h4>
											</a>
											<p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix branding planning" data-bound="" style="display: inline-block;">
						<div class="portfolio-item">
							<div class="portfolio-img">
								<img src="helium/img/portfolio/img2.jpg" alt="">
							</div>
							<div class="portfoli-content">
								<div class="sup-desc-wrap">
									<div class="sup-desc-inner">
										<div class="sup-link">
											<a class="left-link" href="#"><i class="fa fa-link"></i></a>
											<a class="right-link" href="#"><i class="fa fa-heart"></i></a>
										</div>
										<div class="sup-meta-wrap">
											<a class="sup-title" href="#">
												<h4>TITLE HERE</h4>
											</a>
											<p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix branding research" data-bound="">
						<div class="portfolio-item">
							<div class="portfolio-img">
								<img src="helium/img/portfolio/img3.jpg" alt="">
							</div>
							<div class="portfoli-content">
								<div class="sup-desc-wrap">
									<div class="sup-desc-inner">
										<div class="sup-link">
											<a class="left-link" href="#"><i class="fa fa-link"></i></a>
											<a class="right-link" href="#"><i class="fa fa-heart"></i></a>
										</div>
										<div class="sup-meta-wrap">
											<a class="sup-title" href="#">
												<h4>TITLE HERE</h4>
											</a>
											<p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing research" data-bound="">
						<div class="portfolio-item">
							<div class="portfolio-img">
								<img src="helium/img/portfolio/img4.jpg" alt="">
							</div>
							<div class="portfoli-content">
								<div class="sup-desc-wrap">
									<div class="sup-desc-inner">
										<div class="sup-link">
											<a class="left-link" href="#"><i class="fa fa-link"></i></a>
											<a class="right-link" href="#"><i class="fa fa-heart"></i></a>
										</div>
										<div class="sup-meta-wrap">
											<a class="sup-title" href="#">
												<h4>TITLE HERE</h4>
											</a>
											<p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix marketing planning" data-bound="" style="display: inline-block;">
						<div class="portfolio-item">
							<div class="portfolio-img">
								<img src="helium/img/portfolio/img5.jpg" alt="">
							</div>
							<div class="portfoli-content">
								<div class="sup-desc-wrap">
									<div class="sup-desc-inner">
										<div class="sup-link">
											<a class="left-link" href="#"><i class="fa fa-link"></i></a>
											<a class="right-link" href="#"><i class="fa fa-heart"></i></a>
										</div>
										<div class="sup-meta-wrap">
											<a class="sup-title" href="#">
												<h4>TITLE HERE</h4>
											</a>
											<p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix planning research" data-bound="" style="display: inline-block;">
						<div class="portfolio-item">
							<div class="portfolio-img">
								<img src="helium/img/portfolio/img6.jpg" alt="">
							</div>
							<div class="portfoli-content">
								<div class="sup-desc-wrap">
									<div class="sup-desc-inner">
										<div class="sup-link">
											<a class="left-link" href="#"><i class="fa fa-link"></i></a>
											<a class="right-link" href="#"><i class="fa fa-heart"></i></a>
										</div>
										<div class="sup-meta-wrap">
											<a class="sup-title" href="#">
												<h4>TITLE HERE</h4>
											</a>
											<p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
		{#<div class="single-testimonial-area">
			<div class="container">
				<div id="single-testimonial-item" class="owl-carousel owl-theme" style="opacity: 1; display: block;">

					<div class="owl-wrapper-outer">
						<div class="owl-wrapper"
							 style="width: 6660px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);">
							<div class="owl-item" style="width: 1110px;">
								<div class="item">
									<div class="row justify-content-md-center">
										<div class="col-lg-8 col-md-12 col-xs-12">
											<div class="testimonial-inner text-center">
												<blockquote>
													Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam,
													non ut molestiae rerum praesentium repellat debitis iure reiciendis,
													eius culpa beatae commodi facere ad numquam. Quisquam dignissimos
													similique sunt iure fugit, omnis vel cupiditate repellendus magni
													nihil molestiae quam, delectus consequuntur blanditiis modi nostrum?
												</blockquote>
												<div class="testimonial-images">
													<img class="img-circle text-center" src="helium/img/testimonial/img1.jpg"
														 alt="">
												</div>
												<div class="testimonial-footer">
													<i class="fa fa-user"></i> Arman
													<a href="#"> UIdeck</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>#}
{% endblock %}


{% block js %}
<script>
	$(document).ready(function() {
		//MixitUp
		$(function() {
			$('#portfolio').mixItUp();
		});
	});
</script>
{% endblock %}
